{% extends 'layout.html' %}
{% block content %}
<article>
  <section>
    <img src="{{restaurant.image}}" alt="{{restaurant.cuisine}}" />
    <p>
      {{restaurant.cuisine_name}} cuisine<br />
      Located in {{restaurant.city}}, {{restaurant.state}}
    </p>
    <p>
      {{restaurant.description}}
    </p>
  </section>
  <section class="review">
    <form id="editReview" action="/restaurants/editreview/" method="POST">
      <input type="hidden" name="reviewID" value="{{review.id}}">
      <input type="hidden" id="restaurantID" value="{{restaurant.id}}">
      <textarea name="text" rows="10" cols="50">{{review.text}}</textarea>
      <input name="rating" type="range" min="0" max="5" value="{{review.rating}}" step="0.5" id="rating">
      <div class="rateit" data-rateit-backingfld="#rating"></div><br />
      <input type="submit" value="Submit">
    </form>
    <a href="../../"><button class="cancel">Cancel</button></a>
  </section>
</article>
{% endblock %}
