<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link href="//fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/rateit.css">
    <link rel="stylesheet" href="{{ stylesheet }}">
  </head>
  <body>
    <nav>
      {% if user %}
        <a href="/auth/logout?redirect={{redirect}}" class="log">Log Out</a>
      {% else %}
        <a href="/auth/github?redirect={{redirect}}" class="log">Log In</a>
      {% endif %}
        <a href="/" class="home">Home</a>
      {{ header }}
      {% if user.local.is_admin %}
        <a href="/restaurants/new/">new restaurant</a>
      {% endif %}
    </nav>
    {% block content %}
    {% endblock %}
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
    <script type="text/javascript" src="/javascripts/jquery.rateit.min.js"></script>
    <script type="text/javascript" src="{{ script }}"></script>
  </body>
</html>
