{% extends 'layout.html' %}
{% block content %}
  <article>
    <img src="" id="restaurantImage" alt="" />
    <form id="editInfo" class="" action="/restaurants/new/" method="post">
      <div class="title">
        New Restaurant
      </div>
      <label for="name" class="blocking">Name</label>
      <input type="input" id="name" name="name" required maxlength="40" value="" placeholder="Restaurant Name">
      <br />
      <label for="location" class="blocking">Location</label>
      <input type="input" id="city" name="city" required maxlength="40" value="" placeholder="City">
      <select name="state" required>
        <option value="">Choose</option>
        {% autoescape false %}
          {% for s in stateOptions %}
            {{s}}
          {% endfor %}
        {% endautoescape %}
      </select>
      <br />
      <label for="cuisine">Cuisine</label>
      <select class="" required id="cuisine" name="cuisine">
        <option value="">Choose</option>
        {% autoescape false %}
          {% for c in cuisineOptions %}
            {{c}}
          {% endfor %}
        {% endautoescape %}
      </select>
      <br />
      <label for="">Rating</label>
      <input name="rating" type="range" min="0" max="5" value="{{restaurant.rating}}" step="0.5" id="rating">
      <div class="rateit" data-rateit-backingfld="#rating"></div><br />
      <br />
      <label for="image">Image</label>
      <select id="image" name="image" required>
        <option value="">Choose</option>
        {% autoescape false %}
          {% for imageOption in imageOptions %}
            {{imageOption}}
          {% endfor %}
        {% endautoescape %}
      </select>
      <br />
      <textarea name="bio" id="bio" required rows="8" cols="40" placeholder="Short Bio"></textarea>
      <input type="submit" name="submit" value="Submit">
    </form>
    <a href="../"><button class="cancel">Cancel</button></a>
  </article>
{% endblock %}
