{% extends 'layout.html' %}
{% block content %}
  {% if message %}
    <div class="warning">
      {{message}}
    </div>
  {% endif %}
  <article>
    <img src="{{userInput.image}}" id="restaurantImage" alt="" />
    <form id="editInfo" class="" action="/restaurants/new/" method="post">
      <div class="title">
        Create new restaurant
      </div>
      <label for="name" class="blocking">Name</label>
      <input type="input" id="name" name="name" required maxlength="40" value="{{userInput.name}}" placeholder="Restaurant Name">
      <br />
      <label for="location" class="blocking">Location</label>
      <input type="input" id="city" name="city" required maxlength="40" value="{{userInput.city}}" placeholder="City">
      <select name="state" required>
        <option value="">Choose</option>
        {% autoescape false %}
          {% for s in stateOptions %}
            {{s}}
          {% endfor %}
        {% endautoescape %}
      </select>
      <br />
      <label for="cuisine">Cuisine</label>
      <select class="" required id="cuisine" name="cuisine_id">
        <option value="">Choose</option>
        {% autoescape false %}
          {% for c in cuisineOptions %}
            {{c}}
          {% endfor %}
        {% endautoescape %}
      </select>
      <br />
      <label for="image">Image</label>
      <select id="image" name="image" required>
        <option value="">Choose</option>
        {% autoescape false %}
          {% for imageOption in imageOptions %}
            {{imageOption}}
          {% endfor %}
        {% endautoescape %}
      </select>
      <br />
      <textarea name="description" id="description" required rows="8" cols="40" placeholder="Short Bio">{{userInput.description}}</textarea>
      <input type="submit" value="Submit">
    </form>
    <a href="../"><button class="cancel">Cancel</button></a>
  </article>
{% endblock %}
