{% extends 'layout.html' %}
{% block content %}
<article>
  <section>
    <img src="{{restaurant.image}}" alt="{{restaurant.cuisine}}" />
    <p>
      {{restaurant.cuisine_name}} cuisine<br />
      Located in {{restaurant.city}}, {{restaurant.state}}
    </p>
    <p>
      {{restaurant.description}}
    </p>
  </section>
  <section class="review">
    <form action="/restaurants/addreview/" method="POST">
      <input type="hidden" name="restaurant_id" value="{{restaurant.id}}">
      <input type="hidden" name="created_date" value="now()">
      <input type="hidden" name="modified_date" value="now()">
      <input type="text" name="reviewer_name" value="{{formInfo.reviewer_name}}" placeholder="Your Name">
      <textarea name="text" rows="10" cols="50">{{formInfo.text}}</textarea>
      <input name="rating" type="range" min="0" max="5" value="{{formInfo.rating}}" step="0.5" id="rating">
      <div class="rateit" data-rateit-backingfld="#rating"></div><br />
      <input type="submit" value="Submit">
    </form>
    <a href="../"><button class="cancel">Cancel</button></a>
  </section>
</article>
{% endblock %}
