{% extends 'layout.html' %}
{% block content %}
  <article>
    <img src="{{restaurant.image}}" alt="{{restaurant.cuisine}}" />
    <p>
      {{restaurant.cuisine_name}} cuisine<br />
      Located in {{restaurant.city}}, {{restaurant.state}}
    </p>
    <p>
      {{restaurant.description}}
    </p>
    <div class="rateit stars" data-rateit-value="{{restaurant.rating}}" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
    {% if user.local.is_admin %}
      <a href="edit/"><button class="edit">Edit</button></a>
      <a href="/restaurants/{{restaurant.id}}/delete"><button class="delete">Delete</button></a>
    {% endif %}
  </article>
  <article id="reviews" class="reviews"><h1>Reviews</h1>
    {% if canCreateReview %}
      <a href="/restaurants/{{restaurant.id}}/reviews/"><button class="newReview">New Review</button></a></article>
    {% endif %}
  <script type="text/javascript">
    var user_id =
    {% if user.local.id %} {{user.local.id}} {% else %} -1 {% endif %};
    var restaurantID = '{{restaurant.id}}';
    var reviewsFromDB = {};
    {% autoescape false %}
    {% for review in reviews %}
      reviewsFromDB[{{review.id}}] = {id: {{review.id}}, text: '{{review.text|addslashes}}', rating: {{review.rating}}, created_date: '{{review.created_date|date('Y-m-d') }}', modified_date: '{{review.modified_date|date('Y-m-d')}}', reviewed_by: '{{review.username}}', user_id: '{{review.user_id}}'};
    {% endfor %}
    {% endautoescape %}
  </script>
{% endblock %}
