{% extends 'layout.html' %}
{% block content %}
  <article>
    <img src="{{restaurant.image}}" alt="{{restaurant.cuisine}}" />
    <p>
      {{restaurant.cuisine_name}} cuisine<br />
      Located in {{restaurant.city}}, {{restaurant.state}}
    </p>
    <p>
      {{restaurant.description}}
    </p>
    <div class="rateit stars" data-rateit-value="{{restaurant.rating}}" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
    <a href="edit/"><button class="edit">Edit</button></a>
    <a href="/restaurants/{{restaurant.id}}/delete"><button class="delete">Delete</button></a>
  </article>
  <article id="reviews" class="reviews"><h1>Reviews</h1>
  <a href="/restaurants/{{restaurant.name}}/reviews/"><button class="newReview">New Review</button></a></article>
  <script type="text/javascript">
    var restaurantName = '{{restaurant.name}}';
    var reviewsFromDB = {};
    {% for review in reviews %}
      reviewsFromDB[{{review.id}}] = {id: {{review.id}}, text: '{{review.text}}', rating: {{review.rating}}, created_date: '{{review.created_date|date('Y-m-d') }}', modified_date: '{{review.modified_date|date('Y-m-d')}}'};
    {% endfor %}
  </script>
{% endblock %}
