{% extends 'layout.html' %}
{% block content %}
  <article>
    <img src="{{restaurant.image}}" alt="{{restaurant.cuisine}}" />
    <p>
      {{restaurant.cuisine}} cuisine<br />
      Located in {{restaurant.city}}, {{restaurant.state}}
    </p>
    <p>
      {{restaurant.description}}
    </p>
    <div class="rateit stars" data-rateit-value="{{restaurant.rating}}" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
    <a href="edit/"><button class="edit">Edit</button></a>
    <a href="#"><button class="delete">Delete</button></a>
  </article>
{% endblock %}
