article {
  margin: 50px auto;
  width: 90%;
  position: relative;
}
article section {
  width: 30%;
  border: 1px solid black;
  box-sizing: border-box;
  background-color: rgb(226, 226, 226);
  position: relative;
  float: left;
  margin-right: 5%;
  margin-bottom: 10px;
  height: 300px;
  font-size: 1em;
}
article section:nth-child(3n) {
  margin-right: 0;
}
article section h2 {
  padding: 2px;
  font-size: 24px;
}
article section img {
  max-width: 98%;
  max-height: 70%;
  margin: 10px auto;
  display: block;
}
article section .rateit {
  position: absolute;
  bottom: 0;
  right: 0;
}
